api:
  max_results: 50
  pages: 3
search_params:
  experience_level: ''
  keywords: []
  location: Your City, Your Country
  posted_within_days: 30
  remote: false
  titles:
  - Job Title 1
  - Job Title 2
  - Job Title 3
